ion-content {
  --background: var(--ion-color-tertiary);
}

ion-grid {
  --ion-grid-padding: 5px;

  ion-col > div {
    background: linear-gradient(to bottom, #fcfcfc 0%,#e4e4e4 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px var(--ion-color-tertiary-shade);
    border: 1px solid var(--ion-color-tertiary);
 }

}