<div class="container">
  <app-input-file [image]="model.photo" (select)="selectedFile($event)"></app-input-file>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Nome</mat-label>
    <input matInput placeholder="preencha o nome do prestador" [(ngModel)]="model.name" required>
  </mat-form-field>
  <mat-form-field appearance="outline" class="full-width" col-50>
    <mat-label>E-mail</mat-label>
    <input matInput placeholder="preencha o e-mail" type="email" [(ngModel)]="model.email" required>
  </mat-form-field>
  <mat-form-field appearance="outline" class="full-width no-margin-right" col-50>
    <mat-label>Telefone</mat-label>
    <input matInput placeholder="preencha o telefone" [(ngModel)]="model.phone" required>
  </mat-form-field>
  <mat-form-field appearance="outline" class="full-width" *ngIf="!model.uid" col-50>
    <mat-label>Senha</mat-label>
    <input matInput placeholder="informa a sua nova senha" [(ngModel)]="model.password" required>
  </mat-form-field>
  <mat-form-field appearance="outline" class="full-width no-margin-right" *ngIf="!model.uid" col-50>
    <mat-label>Confirmação de senha</mat-label>
    <input matInput placeholder="digite novamente a senha informada acima" [(ngModel)]="model.confirmPassword" required>
  </mat-form-field>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Descrição</mat-label>
    <textarea matInput placeholder="Descreva a descrição" rows="4" [(ngModel)]="model.description"></textarea>
  </mat-form-field>

  <div class="title-divider">
    Endereço
  </div>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>CEP</mat-label>
    <input matInput placeholder="CEP" [(ngModel)]="model.zipCode">
  </mat-form-field>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Endereço</mat-label>
    <input matInput placeholder="Endereço" [(ngModel)]="model.address">
  </mat-form-field>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Complemento</mat-label>
    <input matInput placeholder="Complemento do endereço" [(ngModel)]="model.addressComplement">
  </mat-form-field>
  <mat-form-field appearance="outline" class="full-width" col-50>
    <mat-label>Estado</mat-label>
    <mat-select [(ngModel)]="model.state" (selectionChange)="bindCities(model.state)">
      <mat-option *ngFor="let state of states" [value]="state.sigla">
        {{ state.nome }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline" class="full-width no-margin-right" col-50>
    <mat-label>Cidade</mat-label>
    <mat-select [(ngModel)]="model.city" [disabled]="!model.state">
      <mat-option *ngFor="let citie of cities" [value]="citie">
        {{ citie }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="title-divider">
    Configurações de atendimento
  </div>
  <div class="container-configuration">
    <div class="card">
      <h4>Cidades Atendidas</h4>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Cidade</mat-label>
        <mat-select [disabled]="!model.state" (selectionChange)="selectCitieCare($event.value)">
          <mat-option *ngFor="let citie of cities" [value]="citie">
            {{ citie }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-list>
        <mat-list-item *ngFor="let citie of citiesCare; let i = index">
          <p mat-line>{{ citie }} </p>
          <button mat-button (click)="removeCitiesCare(i)">
            <mat-icon class="mat-24">delete</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item *ngIf="citiesCare.length === 0">
          Nenhuma cidade atendida
        </mat-list-item>
      </mat-list>
    </div>
    <div class="card">
      <h4>SubCategorias atendidas</h4>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Categoria</mat-label>
        <mat-select [(ngModel)]="categorySelect" (selectionChange)="bindSubCategorys(categorySelect)">
          <mat-option *ngFor="let category of categories" [value]="category.uid">
            {{ category.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>SubCategoria</mat-label>
        <mat-select [(ngModel)]="subCategorySelect" [disabled]="!categorySelect"
          (selectionChange)="selectSubCategory(subCategorySelect)">
          <mat-option *ngFor="let subCategory of subCategories" [value]="subCategory">
            {{ subCategory.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-list>
        <mat-list-item *ngFor="let subCategory of categoriesCare; let i = index">
          <p mat-line>{{ subCategory }}</p>
          <button mat-button (click)="removeCategoryCare(i)">
            <mat-icon class="mat-24">delete</mat-icon>
          </button>
        </mat-list-item>
        <mat-list-item *ngIf="categoriesCare.length === 0">Nenhuma subcategoria atendida</mat-list-item>
      </mat-list>
    </div>
  </div>

  <div class="toolbar___form">
    <button mat-raised-button routerLink="/ServiceProviders">Cancelar</button>
    <button mat-raised-button color="primary" (click)="save()">Salvar</button>
  </div>
</div>