<ion-header>
  <ion-toolbar class="ion-text-center" color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ subCategory.name }} </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        Enviar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines="none">
    <ion-item>
      Preencha o formulário abaixo para finalizar sua solicitação
    </ion-item>
  </ion-list>
</ion-content>