<div class="container">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Nome</mat-label>
    <input matInput placeholder="preencha o nome do cliente" [(ngModel)]="model.name" required>
  </mat-form-field>
  <mat-form-field appearance="outline" class="full-width" col-50>
    <mat-label>E-mail</mat-label>
    <input matInput placeholder="preencha o e-mail" type="email" [(ngModel)]="model.email" required>
  </mat-form-field>
  <mat-form-field appearance="outline" class="full-width no-margin-right" col-50>
    <mat-label>Telefone</mat-label>
    <input matInput placeholder="preencha o telefone" [(ngModel)]="model.phone" required>
  </mat-form-field>
  <mat-form-field appearance="outline" class="full-width" *ngIf="!model.uid" col-50>
    <mat-label>Senha</mat-label>
    <input matInput placeholder="informa a sua nova senha" [(ngModel)]="model.password" required>
  </mat-form-field>
  <mat-form-field appearance="outline" class="full-width no-margin-right" *ngIf="!model.uid" col-50>
    <mat-label>Confirmação de senha</mat-label>
    <input matInput placeholder="digite novamente a senha informada acima" [(ngModel)]="model.confirmPassword" required>
  </mat-form-field>
  <app-input-file [image]="model.photo" (select)="selectedFile($event)"></app-input-file>
  <div class="toolbar___form">
    <button mat-raised-button routerLink="/Customers">Cancelar</button>
    <button mat-raised-button color="primary" (click)="save()">Salvar</button>
  </div>
</div>