<div class="getmestres___container_body">
  <mat-toolbar color="primary" class="getmestres___toolbar" *ngIf="isLogged">
    <button mat-icon-button color="dark" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 routerLink="/">GetMestres</h1>
  </mat-toolbar>
  <mat-sidenav-container class="getmestres___side-nav-container" [ngClass]="{'clear-margin-top': !isLogged}">
    <mat-sidenav #sidenav mode="over">
      <mat-nav-list>
        <h3 mat-subheader>Cadastros</h3>
        <a mat-list-item routerLink="/Categorys" (click)="sidenav.toggle()">
          <mat-icon>bookmark</mat-icon>
          Categorias
        </a>
        <a mat-list-item routerLink="/SubCategorys">
          <mat-icon>bookmark_border</mat-icon>
          SubCategorias
        </a>
        <a mat-list-item>
          <mat-icon>assignment</mat-icon>
          Questões
        </a>

        <h3 mat-subheader>Pessoas</h3>
        <a mat-list-item>
          <mat-icon>person_pin</mat-icon>
          Profissionais
        </a>
        <a mat-list-item>
          <mat-icon>person</mat-icon>
          Clientes
        </a>

        <h3 mat-subheader>Segurança</h3>
        <a mat-list-item>
          <mat-icon>security</mat-icon>
          Usuários
        </a>

        <h3 mat-subheader>Gerenciamento</h3>
        <a mat-list-item>
          <mat-icon>format_list_bulleted</mat-icon>
          Pedidos
        </a>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <ngx-spinner></ngx-spinner>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>