<ion-header>
  <ion-toolbar class="ion-text-center" color="primary">
    <ion-title>Solicitações</ion-title>
  </ion-toolbar>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" routerLink="/tabs/tabSolicitacoes/nova-solicitacao" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-header>
<ion-content>
  <ion-card *ngFor="let request of list"
    [routerLink]="['/tabs/tabSolicitacoes/visualizar-minha-solicitacao', request.uid]">
    <ion-card-title>
      {{ request.title }}
    </ion-card-title>
    <ion-card-subtitle>
      Categoria: {{ request.subCategory.name }}
    </ion-card-subtitle>
    <ion-card-content>
      {{ request.description | truncate:50 }}
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="list.length === 0">
    <ion-card-content>
      Você ainda não fez nenhuma solicitação, clique no botão + acima para começar :D
    </ion-card-content>
  </ion-card>
</ion-content>