<ion-header>
  <ion-toolbar class="ion-text-center" color="primary">
    <ion-title>Solicitações</ion-title>
  </ion-toolbar>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-title>
      Criar um novo aplicativo bem bacana
    </ion-card-title>
    <ion-card-subtitle>
      Software e Aplicativo
    </ion-card-subtitle>
    <ion-card-content>
      Gostaria de criar um aplicativo bem bacana feito em ionic 4/5 e bem estilso ...
    </ion-card-content>
  </ion-card>

</ion-content>